@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

:root {
    --paddin-container: 100px 0;
    --color-title: #001A49;
    --color-title2: #0a9ee2;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0; /* Asegura que no haya márgenes por defecto */
}

.top-bar {
    position: fixed; /* Hace que la barra de navegación sea fija */
    top: 0;
    left: 0;
    right: 0;
    background-color: #2018bb; /* Color de fondo azul */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px; /* Espaciado interno */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.top-bar a {
    color: #fff; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
    margin-left: 20px; /* Espacio entre los enlaces */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--paddin-container);
}

.hero {
    width: 100%;
    height: auto;
    min-height: 600px;
    max-height: 600px;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    margin-top: 60px; /* Aumenta el margen para evitar que esté debajo de la barra */
    padding-top: 20px; /* Ajusta este valor si es necesario */
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/miguelangel.jpg');
    background-size: cover;
    clip-path: polygon(0% 15%, 0 1%, 15% 0%, 100% 0, 100% 74%, 79% 90%, 63% 83%, 57% 86%, 41% 75%, 19% 89%, 16% 79%, 0% 85%);
    z-index: -1;
}

.hero_container {
    max-width: 800px;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding:180px 20px; /* Aumenta el padding superior para dar más espacio */
    text-align: center;
    position: relative;
    z-index: 1;
}

.hero_content {
    position: absolute; /* Posiciona el contenido dentro de la imagen */
    top: 20%; /* Ajusta según necesites */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -20%); /* Ajusta para centrar completamente */
    text-align: center; /* Centra el texto */
    color: white; /* Color del texto */
}

.hero_title {
    font-size: 3rem;
}

.hero_paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    margin-top: 20px; /* Añade un margen para separar el botón del texto */
}

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title2);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about_paragraph {
    line-height: 1.7;
}

.about_main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about_icon {
    width: 40px;
}

.knowledge {
    background-color: #fff;
    /* background-color: #101086; */
    /* background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #101086 10px), repeating-linear-gradient(#00000055, #000000); */
    overflow: hidden;
}

.knowledge_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge_picture {
    max-width: 500px;
}

.knowledge_paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge_img {
    width: 100%;
    display: block;
}

.testimony {
    background-color: #e5e5f7;
}

.testimony_container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony_body {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimony_body--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony_img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony_texts {
    max-width: 700px;
}

.testimony_course {
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony_arrow {
    width: 90%;
    cursor: pointer;
}

.contacto {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}

.contacto .contenido_seccion {
    max-width: 1100px;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #120c5f;
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay {
    width: 100%;
}

.contacto .col .info {
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
}

.contacto .col .info ul li i {
    color: #0a9ee2;
    display: inline-block;
    margin-right: 20px;
}

.scroll-button {
    position: fixed;
    bottom: 20px; /* Ajusta la posición vertical */
    right: 20px; /* Ajusta la posición horizontal */
    background-color: #2091F9; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 50%; /* Forma redonda */
    text-align: center;
    font-size: 20px; /* Tamaño del texto */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    display: none; /* Oculto por defecto */
    transition: opacity 0.3s;
}

.scroll-button.show {
    display: block; /* Muestra el botón cuando se añade la clase */
}






#wordsSection {
    margin-top: 0px; /* Ajusta según sea necesario */
}